html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: Noto Sans;
}
canvas#main {
    width: 100%;
    height: 100%;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

div#opts {
    position: absolute;
    bottom: 2rem;
    left: 0;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

div#opts li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    
}
div#opts li.value {
    padding-left: 1rem;
}

div#opts li input {
    float: right;
    height: 0.8rem;
    width: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.2rem;

    background-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    outline: none;
    
    border: solid 1px #AAAAAA;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
